@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.card {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
}

.card .katex {
    font-size: 1.1em;
    /* color: red; */
}

.card pre.inline {
    display: inline-table;
}

.card hr {
    border: 0;
    height: 0.1em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.card table,
.card td,
.card th {
    border: 0.2em solid #ddd;
    text-align: left;
}

.card table {
    border-collapse: collapse;
}

.card th,
.card td {
    padding: 0.3em;
}

/*
.card {
    background-color: black;
    color: white;
}
*/
